<%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Hello <strong><%= user.username %></strong>, Welcome to your dashboard</h2>
      <p class="lead text-muted">Your can now see your profile by clicking on my profile or you can create a new post by clicking on create post..</p>
    </div>  
  </div>
  
<%- include('includes/footer') %>